@media (max-width: 992px) {
    .img-search, .btn-group-header {
        width: 25%;
    }

    .input-search {
        width: 50%;
    }

    .info-header {
        display: none;
    }
}

@media (max-width: 576px) {
    header.header {
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        .img-header {
            order: 1;
            width: 70%;
        }

        .input-search {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            order: 3;

            img.img-right {
                width: 51px;
                display: block !important;
                margin-left: -10px;
            }

            .input-group-search {
                width: calc(100% - 51px);
            }
        }

        .btn-group-header {
            width: calc(25% - 12px);
            order: 2;
        }
    }
}