.action-header {
    display: flex;
    width: auto;

    .form-search {
        width: calc(100% - 100px);
        border: 1px solid rgb(99, 99, 99);
        border-radius: 5px;
        
        form {
            width: 100%;
            display: flex;

            input {
                width: calc(100% - 50px);
                background: none;
                outline: none;
                border: none;
            }

            button {
                width: 50px;
                border-left: 1px solid rgb(99, 99, 99);
                border-radius: 0;
            }
        }
    }

    .btns-group {
        width: 100px;
    }
}

@media (min-width: 992px) {
    .action-header {
        width: calc(100% - 578.05px);
    }
}