nav.navbar {
    background: rgba(71, 71, 71, 0.4);

    ul {
        li {
            position: relative;

            ul.sub-menu {
                width: 200px;
                height: auto;
                position: absolute;
                top: 40px;
                display: none;
                background: white;
                box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.3);
                border-radius: 5px;
                padding: 5px;

                &::before {
                    content: "";
                    position: absolute;
                    top: -10px;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid white;
                }

                li {
                    width: 100%;
                    height: 30px;
                    padding: 3px;
                    
                    &:hover {
                        background: rgba(187, 178, 178, 0.2);
                    }
                }
            }

            a {
                &.active {
                    font-weight: bold;
                }
            }

            &:hover {
                ul.sub-menu {
                    display: block;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    nav.navbar {
        display: none;
    }
}